/* ==========================================================================
   Skins
   ========================================================================== */

%card-skin {
  background: #fff;
  box-shadow: 0 4px 16px 2px rgba($base-color, 0.08);   // Elevation Index: 2
  border-radius: $base-border-radius;
}
